{% extends 'common.html' %}
{% load static%}
{% block common %}
    {% include 'stunavbar.html' %}
    <div class="forgotten"style="background-image: url({% static 'images/back1.jpg' %});
            background-repeat: no-repeat;">
    <form action="{% url 'show_pw' %}"method="post">
        {% csrf_token %}
    <br>
        <marquee><h3><i>WELCOME TO FORGOTTEN PASSWORD PAGE</i></h3></marquee>
    <table align="center">
        <tr><th colspan="2" style="text-align: center"><h4><u>Forgotten Password </u></h4></th></tr>
    <tr><th>Uname :</th><th><input type="text"required name="un"></th></tr>
    <tr><th>Contact :</th><th><input type="text"required name="con"></th></tr>
    <tr><th colspan="2" style="text-align: center;"><button type="submit"><b>Submit</b></button></th></tr>
    </table></form>
        {% if pw %}
            <h2 align="center" style="background-color: #dfdfdf;">Your Password Is :{{ pw.password }}</h2>
        {% endif %}
    {% if message %}
            <h2 align="center" style="background-color: #dfdfdf;">Status :{{ message }}</h2>
        {% endif %}

    <pre>




















    </pre>
    </div>
{% endblock %}