{% extends 'common.html' %}
{% load static %}

{% block common %}
    {% include 'stunavbar.html' %}
    <br>
    <blockquote style="background-color: #dfdfdf; text-align: center">
        <i> Giddaluru is a census town in Prakasam district of the Indian
            state of Andhra Pradesh. It is the ... A few ice cream factories are
            set up around the town giddalur nearby to the town in the place called
            ramanna kathuva a few people are planning to </i>
    </blockquote><br>
    <marquee style="color: #49cacd"><h3><i>WELCOME TO HOME</i></h3></marquee><br><br>
    <table style="float: left">
        <tr><th><img width="600" height="300" src="{% static 'images/coffeee.jpg' %}"></th></tr>
    </table>

    <li style="text-align-all: justify">As of 2011 Giddalur has population of 35,150 of which 17,728 are males while 17,422 are females. Average Sex Ratio is of 983 against state average of 993. Population of Children with age of 0-6 is 3445 which is 9.80% of total population of Giddaluru. Child Sex Ratio in Giddaluru is around 971 compared to Andhra Pradesh state average of 939. Literacy rate of Giddaluru city is 79.71% higher than state average of 67.02%.[6]</li>
    <li>
    The primary and secondary school education is imparted by government, aided and private schools, under the School Education Department of the state.[7][8] The medium of instruction followed by different schools are English, Telugu. Famous schools in the locality and nearby areas are ap model school racherla,sri vidwan public school,kasturiba schools.
    </li>
    <li>The primary and secondary school education and sports is imparted by government, aided and private schools, So many Army candidates are from the Giddalur. Having Good Volleyball Team in Surrounding Areas.</li>
    <pre>






















    </pre>


{% endblock %}